<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="container main-logo">
    <div class="row">
      <div class="col-md-12">
        <div align="center"><h2>Demo Clock In-Out System</h2></div>
      </div>
    </div>
    <%= render partial: 'partials/flashes' %>
    <%- if !resource.errors.empty? %>
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-danger">
            <%= devise_error_messages! %>
          </div>
        </div>
      </div>
    <%- end %>
    <div class="login-panel card">
      <div class="card-heading">
        <h4>Complete the form to sign up.</h4>
      </div>
      <div class="card-body">
        <fieldset>
          <div class="form-group">
            <%= f.label :email %><br/>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'Password' %><br/>
            <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, 'Password Confirmation' %><br/>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
          </div>

          <%= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block' %>
          <br>
          <%= link_to "Sign In", new_session_path(resource_name), class: 'btn btn-lg btn-outline-secondary btn-block' %>

        </fieldset>
      </div>
    </div>
  </div>
<%- end %>
