<div class="container main-logo">
  <div class="row">
    <div class="col-md-12">
      <div align="center"><h2>Demo Clock In-Out System</h2></div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="main-panel card">
        <div class="card-header">
          <h5>Profile</h5>
        </div>
        <div class="card-body">
          <strong>Email:</strong><br/>
          <%= current_user.email %><br/>
          <strong>Current log:</strong><br/>
          <%= display_current_event %> <br/>
          <strong>Current time:</strong><br/>
          <div id="clock_div"></div>
          <br/>
          <%= form_tag clock_events_path, method: :post do %>
            <%= submit_tag t(current_user.next_event_to_log) %>
          <%- end %>
          <br/>
          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="main-panel card">
        <div class="card-header">
          <h5>Here are your logs (Green highlight is your current event)</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <table class="table">
                <tr>
                  <th>Event</th>
                  <th>Time</th>
                  <th></th>
                </tr>
                <%- @clock_events.each do |clock_event| %>
                  <tr <%= current_event_class(clock_event) %>>
                    <td><%= t(clock_event.event_type) %></td>
                    <td><%= clock_event.created_at.in_time_zone %></td>
                    <td>
                      <%- if clock_event.is_current_for?(current_user) %>
                        Current
                      <%- else %>
                        <%= link_to 'Edit', edit_clock_event_path(clock_event) %><br/>
                        <%= link_to 'Delete', clock_event, method: :delete, data: {confirm: 'Are you sure?'} %>
                      <%- end %>
                    </td>
                  </tr>
                <%- end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
